.App {
  text-align: center;
}

.main {
  margin: 20px;
  width: 400px;
  box-shadow:
    rgb(45 35 66 / 40%) 0 0 10px 3px,
    rgb(45 35 66 / 30%) 0 7px 13px -3px,
    rgb(58 65 111 / 50%) 0 -4px 0 inset;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
