.main {
  margin: 20px;
  width: 400px;
}

.mainKeyPad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.mainKeyPad > button {
  font-size: 20px;
  margin: 0;
  padding: 20px;
  display: flex;
  border: 1px solid rgb(181, 180, 180);
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mainKeyPad > button:active {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(232, 232, 232);
}

.signs {
  background-color: orange;
}

.greyKey {
  background-color: rgb(208, 208, 208);
}

#total {
  color: white;
  margin: 0;
  padding: 20px;
  display: flex;
  background-color: gray;
  flex-direction: row-reverse;
}

.extra1 {
  grid-area: 5 / 1 / 6 / 2;
}

.extra2 {
  grid-area: 5 / 1 / 6 / 3;
}
